:root {
    --system-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: #FFF;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

h1, p {
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-family: system-ui, sans-serif; */
    font-family: var(--system-font);
    color: #000;
}

header {
    margin: 2rem 6rem 2rem 6rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header .home-btn a {
    font-size: 1.3em;
    font-family: var(--system-font);
    font-weight: 600;
    color: #000;
}

header .socials {
    padding-left: 2rem;
}

.socials a {
    color: #000;
    font-family: var(--system-font);
    padding: 0 1rem 0 1rem;
    font-size: 1.3em;
}

.page-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 1em 6em 1em 6em;
    height: 20em;
    color: #000;
}

.page-banner h1 {
    font-size: 3.5em;
}

.page-banner p {
    text-align: left;
    font-size: 1.5em;
    line-height: 1.5;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    gap: 3px;
    margin-top: 1rem;
    margin-left: 6rem;
    margin-right: 6rem;
    margin-bottom: 3rem;
}

.image-grid .image-container {
    height: 18rem;
    overflow: hidden;
    border-radius: 2px;
}

.image-grid .image-container a img {
    object-fit: cover;
    height: 18rem;
    width: 100%;
    transform-origin: 50% 50%;
    filter: brightness(96%);
    transition: filter 0.5s ease;
}

.image-grid .image-container a img:hover {
    filter: brightness(110%);
    box-shadow: 0px 0px 0px 2px #000;
    transform-origin: 50% 50%;
    cursor: pointer;
}

.large {
    object-fit: cover;
    display: block;
    width: 100%;
    height: 400px;
    margin: 1rem auto 2rem auto;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}

.featured-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem 1rem 1rem;
    margin: 1rem 2rem 1rem 2rem;
}

.featured-img img {
    background: #FFF;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 950px;
    height: 550px;
    margin: 1rem auto 1rem auto;
}

.container {
    background: transparent;
    margin: 4rem auto 3rem auto;
}

footer {
    position: relative;
    margin: 3rem 6rem 2rem 6rem;
    bottom: 0;
}

footer a {
    color: #000;
    border-bottom: 2px solid #111;
}

footer .credits-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-info {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.credits-text p {
    color: #000;
    text-align: center;
    padding-left: .5rem;
}

.credits-text hr {
    background: #000;
    height: 2px;
    width: 100%;
}

@media screen and (max-width: 975px) {
    .featured-img img {
        width: 850px;
    }
}

@media screen and (max-width: 875px) {
    .featured-img p img {
        width: 800px;
    }
}

@media screen and (max-width: 825px) {
    .featured-img p img {
        width: 600px;
        height: 400px;
    }
}

@media screen and (max-width: 750px) {
    .featured-img h1 {
        margin: auto;
        text-align: center;
    }
}

@media screen and (max-width: 650px) {
    .featured-img p img {
        width: 450px;
        height: 300px;
    }
}

@media screen and (max-width: 600px) {
    .page-banner h1 {
        font-size: 42px;
    }
    .page-banner p {
        font-size: 22px;
    }
    header .home-btn h1 {
        font-size: 28px;
    }

    header div i {
        font-size: 26px;
    }
}

@media screen and (max-width: 565px) {

    header {
        margin: 3rem 4em 1rem 4em;
    }

    .page-banner {
        margin: 1rem 4em 1rem 4em;
    }

    .page-banner h1 {
        text-align: left;
    }

    .page-banner p {
        font-size: 18px;
    }

    .image-grid {
        margin: 1rem 4em 1rem 4em;
    }

    footer {
        margin: 3rem 3rem 2rem 3rem;
    }
}
@media screen and (max-width: 500px) {
    header .socials {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 475px) {
    .socials {
        display: flex;
    }
}

@media screen and (max-width: 415px) {
    .featured-img p img {
        width: 360px;
        height: 200px;
    }
    .container {
        margin-top: 2rem;
    }
    
}

/* Moto G4 width width=360px which Lighthouse runs audit on */
@media screen and (max-width: 375px) {
    header {
        margin: 3em 3em 1em 3em;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
    }
    .home-btn {
        font-size: 1.2em;
        margin-bottom: 15px;
    }
    header .socials {
        margin-top: 1em;
        padding-left: 0;
    }
    header .socials .link-one {
        padding: 0 0.5em 0 0.3em;
    }
    header .socials .link-two {
        padding:0 0 0 0.5em;
    }
    .page-banner {
        height: 20em;
        margin: 1rem 3rem 1rem 3rem;
    }
    .featured-img h1 {
        text-align: center;
        margin: 0 auto 1em auto;
        font-size: 1.1em;
    }
    .gallery {
        margin: 2rem;
    }
    .image-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
        margin: 0.5rem;
        gap: 3px;
    }
    .image-grid .image-container {
        height: 15rem;
    }
    .image-grid .image-container a img {
        object-fit: cover;
        height: 15rem;
        width: 100%;
    }
    .featured-img {
        margin: 0;
        padding: 0;
        align-items: center;
    }
    .featured-img p {
        margin: auto;
    }
    footer {
        margin-left: 2rem;
        margin-right: 2rem;
    }

}

@media screen and (max-width: 335px) {
    .featured-img p img {
        width: 320px;
    }
}

