---
pagination:
    data: gallery
    size: 1
    alias: image
permalink: "/gallery/{{ image.title | slug }}/"
---
<!DOCTYPE html>
<html lang="en-US" dir="ltr">
    <head>
        {% metagen 
            desc="Featured image from the image. This seperate page contains more about the image itself, a link to where someone can find it, author/creditor.",
            twitterHandle="Tanner Dolby",
            name="Tanner Dolby"
        %}
        <title>{{ image.title }}</title>
        <meta property="og:url" content="https://eleventy-gallery.netlify.app/gallery/{{ image.title | slug }}"> 
        <meta property="og:img" content="https://eleventy-gallery.netlify.app/images/{{ image.src }}"> 
        <meta property="og:img:alt" content="{{ image.alt }}"> 
        <meta name="twitter:image" content="https://eleventy-gallery.netlify.app/images/{{ image.src }}"> 
        <meta name="twitter:image:alt" content="{{ image.alt }}"> 
        <meta name="theme-color" content="#fff">
        <meta name="background-color" content="#fff">
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon_data/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon_data/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon_data/favicon-16x16.png">
        <link rel="manifest" href="/favicon_data/site.webmanifest">
        <link rel="canonical" content="https://eleventy-gallery.netlify.app/gallery/{{ image.title | slug }}"> 
        {% set css %}
            {% include "css/style.css" %}
        {% endset %}
        <style>
            {{ css | cssmin | safe }}
        </style>
    </head>
    <body class="feature">
        <header class="top-nav">
            <nav class="nav-main">
                <a class="home-button" href="/">John Smith</a>
                <ul class="nav-list">
                    <li style="margin-left: 0"><a class="link" href="/">Home</a></li>
                    <li><a class="link" href="/about/">About</a></li>
                    <li><a class="link" href="https://github.com/tannerdolby/eleventy-photo-gallery">Code</a></li>
                </ul>
            </nav>
        </header>
        <main class="main-container">
            <div class="featured-img">
                <div class="image-container">
                    {% respimg 
                        image.src,
                        image.alt,
                        image.imgDir,
                        image.widths,
                        image.sizes,
                        "showcase-img",
                        "1024",
                        "768"
                    %}{% endrespimg %}
                    <div class="image-description">
                        <h1 class="h2">{{ image.title }}</h1>
                        <p>{{ image.credit }} on <a class="credit" href="{{ image.linkToAuthor }}">Pexels</a></p>
                    </div>
                    <div class="prev-next">
                        {% if pagination.href.previous %}
                            <a class="prev" href="{{ pagination.href.previous }}">&lt; Previous Photo</a>
                        {% endif %}
                        {% if pagination.href.next %}
                            <a class="next" href="{{ pagination.href.next }}">Next Photo &gt;</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <div class="footer-content">
                <div class="footer-info home">
                    <p>&copy; {% getYear %} John Smith. Built with <a href="https://www.11ty.dev/">Eleventy</a></p>
                    <ul class="footer-links">
                        <li class="footer-link"><a href="{{ site.socials.dribbble }}">Dribbble</a></li>
                        <li class="footer-link"><a href="{{ site.socials.twitter }}">Twitter</a></li>
                        <li class="footer-link"><a href="{{ site.socials.linkedin }}">LinkedIn</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </body>
</html>