<footer>
    <div class="footer-content">
        <div class="footer-info home">
            <p>&copy; {% getYear %} {{ site.author.firstName }} {{ site.author.lastName }}. Built with <a href="https://www.11ty.dev/">Eleventy</a></p>
            <ul class="footer-links">
            {% include "layouts/socials.njk" %}
            </ul>
        </div>
    </div>
</footer>
