<footer>
    <div class="footer-content">
        <div class="footer-info home">
            <p>&copy; {% getYear %} {{ site.author.firstName }} {{ site.author.lastName }}. Built with <a href="https://www.11ty.dev/">Eleventy</a></p>
            <ul class="footer-links">
                <li class="footer-link"><a href="{{ site.socials.github }}">GitHub</a></li>
                <li class="footer-link"><a href="{{ site.socials.twitter }}">Twitter</a></li>
                <li class="footer-link"><a href="{{ site.socials.linkedin }}">LinkedIn</a></li>
            </ul>
        </div>
    </div>
</footer>