@use "../vars/" as *;

.about-page {
    min-height: 100vh; 
    display: flex; 
    flex-direction: column;
}

.about-v {
    margin-top: auto;
}

.about-me-content {
    .about-socials {
        padding-left: 30px;
    }
}

.about-socials {
    li {
        margin: .75rem auto;
        list-style: disc;
    }
}

.about-me-content {
    max-width: 80ch;
    margin: 3rem auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.contact-form {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    max-width: 60ch;

    label {
        &.form-label {
            margin-top: .5rem;
        }
    }

    input, textarea {
        margin: .2rem 0;
        border: 1px solid lightgray;
        padding: .5rem;
        border-radius: .15rem;
        font-size: 16px;
        -webkit-appearance: none;
    }

    input {
        height: 2.75rem;
    }

    textarea {
        resize: vertical;
        min-height: 9rem;
    }

    button {
        margin-bottom: 36px;
        background: rgb(27, 110, 226);
        background: rgb(26, 107, 221);
        padding: 11px 1.35rem;
        border-radius: 3px;
        font-family: $system-font;
        border: none;
        color: #fff;
        margin-top: 1.35rem;
        max-width: fit-content;
        max-width: -moz-fit-content;
    
            &:hover {
                border: none;
                cursor: pointer;
                background: rgb(23, 100, 209);
            }
        
    }
}