header {
    .nav-main {
        margin: 1rem auto 0 auto;
        max-width: 1100px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .9rem 1.5rem;

        a {
            &:hover {
                background: rgb(233, 233, 233);
                text-decoration: none;
            }
        }

        .nav-list {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 0;
            list-style: none;
            border-top: 1px solid lightgray;
            border-bottom: 1px solid lightgray;
            width: 100%;

            li {
                margin: 0 1rem;
            }
            
            a {
                &:hover {
                    background: rgb(233, 233, 233);
                    background: rgb(237, 237, 237);
                    text-decoration: none;
                }
            }

            .link {
                color: #212121;
                padding: .8rem .75rem;
                margin: 0 .4rem;
                font-size: 16px;
                font-size: clamp(1.0625rem, 4vw, 1.2rem);
                text-decoration: none;
                display: block;

                &:first-child {
                    margin-left: 0;
                }
            }
        }

        .home-button {
            text-decoration: none;
            color: #212121;
            padding-right: .5rem;
            font-size: 24px;
            font-size: clamp(1.3rem, 4vw, 1.5rem);
            font-weight: 500;
        }
    }

    .intro {
        display: flex;
        justify-content: space-between;
        margin: 2rem auto 1rem auto;
        max-width: 1100px;
        padding: 0 1.5rem;

        div {
            p {
                color: #333;
            }
            &:first-child {
                margin-right: 2rem;
            }
        }

        .home-button {
            display: block;
            font-size: 28px;
            font-size: clamp(26px, 4vw, 28px);
            color: #222;
            margin-bottom: 14px;
        }

        .hire-me {
            border: 1px solid #111;
            margin-top: 3px;
            padding: .5rem 1rem;
            text-decoration: none;
            height: fit-content;
            height: -moz-fit-content;
            border-radius: 3px;
            background: #1e262b;
            color: #fff;
            font-weight: 400;
            white-space: nowrap;

            &:hover {
                background: #1a1f24;
            }
        }
    }
}