:root {
    --system-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --link-blue-accessible: #2540AD;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: #FFF;
}

img {
    max-width: 100%;
}

p {
    --min-size: .9rem;
    --pref-size: 1rem;
    --max-size: 1.125rem;
    font-size: clamp(var(--min-size), var(--pref-size), var(--max-size));
    line-height: 1.5;
    font-family: var(--system-font);
}

a {
    color: var(--link-blue-accessible);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: var(--link-blue-accessible);
}

a:hover,
.credit:hover {
    text-decoration: underline !important;
}

h1, h2, h3, h4 {
    font-family: var(--system-font);
    color: #212121;
}

h1, .h1 {
    --min-size: 2.75rem;
    --pref-size: 8vw;
    --max-size: 3.25rem;
    font-size: clamp(var(--min-size), var(--pref-size), var(--max-size));
}

h2, .h2 {
    --min-size: 1.5rem;
    --pref-size: 5vw;
    --max-size: 1.8rem;
    font-size: clamp(var(--min-size), var(--pref-size), var(--max-size));
}

main .gallery {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

main .gallery-header {
    max-width: 1100px;
    padding: 0 1.5rem;
    margin: 0 auto;
    margin-bottom: 2rem;
    font-size: 30px;
}

nav {
    margin: 0 auto 0 auto;
    padding: .75rem 1.5rem;
    max-width: 1100px;
}

header .nav-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .nav-main .home-button {
    text-decoration: none;
    color: #212121;
    padding-right: .5rem;
    font-size: 24px;
    font-size: clamp(1.3rem, 4vw, 1.5rem);
    font-weight: 500;
}

header .nav-main .nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    list-style: none;
}

header .nav-main .nav-list a:hover,
header .nav-main a:hover {
    text-decoration: underline;
}

nav .nav-list li {
    margin-right: 1rem;
    margin-left: 1rem;
}

nav .nav-list li .link {
    color: #212121;
    font-weight: 500;
    font-size: 20px;
    font-size: clamp(1.2rem, 4vw, 1.3rem);
    text-decoration: none;
}

.image-description {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    margin-left: auto; 
    margin-right: auto;
}

.image-description p a:hover {
    text-decoration: none;
}

.page-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto 1em auto;
    max-width: 1100px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    color: #212141;
}

.page-banner h1 {
    margin-bottom: .75rem;
}

.about-socials li {
    margin: .75rem auto;
}

.about-me-content {
    max-width: 80ch;
    margin: 2rem auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.page-banner p {
    --min-size: 1.1rem;
    --pref-size: 3vw;
    --max-size: 1.3rem;
    font-size: clamp(var(--min-size), var(--pref-size), var(--max-size));
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    gap: 3px;
    max-width: 1100px;
    margin: 1rem auto 3rem auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.image-grid .image-container {
    height: 18rem;
    overflow: hidden;
    border-radius: 2px;
}

.image-grid .image-container a:focus img {
    border: 3px solid #07c;
}

.image-grid .image-container a img {
    object-fit: cover;
    height: 18rem;
    width: 100%;
    transform-origin: 50% 50%;
    filter: brightness(99%);
    transition: filter 0.5s ease;
}

.image-grid .image-container a img:hover {
    filter: brightness(110%);
    box-shadow: 0px 0px 0px 2px #000;
    transform-origin: 50% 50%;
    cursor: pointer;
}

.featured-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
}

.featured-img img {
    background: #FFF;
    object-fit: cover;
    max-width: 100%;
    height: auto;
    margin: 1rem auto 1rem auto;
}

.main-container {
    margin: 3rem auto 2rem auto;
}

footer {
    position: relative;
    margin: 2rem auto 1rem auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    max-width: 1100px;
    bottom: 0;
}

footer a {
    color: #212121;
    font-size: 1.0625rem;
}
footer .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
}

footer .footer-content .footer-info {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: .5rem;
}

footer .footer-content .footer-info .footer-links {
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: .5rem;
    font-size: clamp(1rem, 3vw, 1.1rem);
}

footer .footer-content .footer-info .footer-links .footer-link {
    margin: 0 .5rem;
    font-weight: 500;
}

footer .footer-content .footer-info .footer-links .footer-link a {
    color: #212121;
}

footer .footer-content p {
    color: #000;
    text-align: center;
}

footer .footer-content hr {
    background: #000;
    height: 2px;
    width: 100%;
}

footer .social-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding-left: .5rem;
}

footer .social-links li {
    padding-right: .75rem;
}

.four-oh-four {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    width: 100%;
    max-width: 700px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    height: 100vh;
    overflow: hidden;
    background: #1e2022;
}

.four-oh-four ul li {
    margin: .5rem 0;
    color: #fff;
}

.four-oh-four h1,
.four-oh-four h2,
.four-oh-four p {
    color: #fff;
}

.four-oh-four a {
    color: #19C2FA !important;
    text-decoration: none;
    text-decoration-color: #19C2FA;
}

.four-oh-four ul li a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 875px) {
    footer .footer-content .footer-info.home {
        flex-direction: column;
    }
    footer .footer-content .footer-info.featured {
        flex-direction: column;
        justify-content: center;
    }
    footer .footer-content p {
        margin-top: 1.5rem;
    }
}

@media screen and (max-width: 565px) {
    .page-banner h1 {
        text-align: left;
    }
}

@media screen and (max-width: 450px) {
    footer .footer-content .footer-info.home {
        justify-content: flex-start;
        align-items: center;
    }
    footer .footer-content .footer-info.featured {
        flex-direction: column;
        justify-content: center;
    }
    header .nav-main {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: 2rem;
    }
    header .nav-main .nav-list {
        margin-top: 2rem;
    }
}

@media screen and (max-width: 415px) {
    .main-container {
        margin-top: 2rem;
    }
}

/* Moto G4 width width=360px which Lighthouse runs audit on */
@media screen and (max-width: 375px) {
    .featured-img h1 {
        text-align: center;
        margin: 0 auto 1em auto;
    }
    .image-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
        gap: 3px;
    }
    .image-grid .image-container {
        height: 15rem;
    }
    .image-grid .image-container a img {
        object-fit: cover;
        height: 15rem;
        width: 100%;
    }
    .featured-img {
        margin: 0;
        padding: 0;
        align-items: center;
    }
}