---
title: Oops, Page Not Found!
meta_desc: Oh no! You have requested a page that does not exist.
url: https://eleventy-gallery.netlify.app
img: /images/highway-water.jpg
alt: Terrace outside shop window with green plants and pink tree on night street
cardType: summary_large_image
layout: main.njk
permalink: 404.html
---

<div class="four-oh-four">
    <h1><span>🚧</span> {{ title }}</h1>
    <p>Oh no! You've encountered a page that does not exist. This tends to happen when someone shares a broken or mistyped link.</p>
    <ul>
        <li><a href="/">Back to home page</a></li>
        <li><a href="https://github.com/tannerdolby/eleventy-photo-gallery">Submit an issue on Github</a></li>
    </ul>
</div>