---
layout: main.njk
pagination:
    data: gallery
    size: 1
    alias: image
permalink: "/gallery/{{ image.title | slug }}/"
title: About - Eleventy Photo Gallery Template
meta_desc: A page about John Smith, and photography. This template is currently the default version so add your own about me page info here.
url: https://eleventy-gallery.netlify.app/about
img: /images/highway-water-large.jpg
alt: Terrace outside shop window with green plants and pink tree on night street
---
<div class="featured-img">
    <div class="image-container">
        {% img
            src=image.src,
            alt=image.alt,
            className="showcase-img",
            sizes="(max-width: 480px) 33.3vw, (min-width: 640px) 50vw, (min-width: 1000px) 100vw, 33.3vw"
        %}
        <div class="image-description">
            <h1 class="h2">{{ image.title }}</h1>
            <p>{{ image.credit }} on <a class="credit" href="{{ image.linkToAuthor }}">Pexels</a></p>
        </div>
        <div class="prev-next">
            {% if pagination.href.previous %}
                <a class="prev" href="{{ pagination.href.previous }}"><span class="lt">&lt;</span> Prev</a>
            {% endif %}
            {% if pagination.href.next %}
                {% if not pagination.href.previous %}
                <a class="next" style="margin-left: auto; margin-right: 0;" href="{{ pagination.href.next }}">Next <span class="gt">&gt;</span></a>
                {% else %}
                <a class="next" href="{{ pagination.href.next }}">Next <span class="gt">&gt;</span></a>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
