<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ title }}</title>
        <meta name="description" content="{{ title }}. You've landed on this websites 404 error page.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% set css %}
            {% include "css/style.css" %}
        {% endset %}
        <style lang="css">
            {{ css | cssmin | safe }}
        </style>
    </head>
    <body class="four-oh-four">
      {{ content | safe }}
    </body>
</html>