<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="description" content="{{ site.pageMetadata.about.content }}">
        <title>{{ title }} - {{ firstName }} {{ lastName }} </title>
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon_data/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon_data/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon_data/favicon-16x16.png">
        {% set css %}
            {% include "css/style.css" %}
        {% endset %}
        <style>
            {{ css | cssmin | safe }}
        </style>
    <head>
    <body style="min-height: 100vh; display: flex; flex-direction: column;">
        <header>
            <nav class="nav-main">
                <a class="home-button" href="/">{{ firstName }} {{ lastName }}</a>
                <ul class="nav-list">
                    <li style="margin-left: 0"><a class="link" href="/">Home</a></li>
                    <li><a class="link" href="/about/">About</a></li>
                    <li><a class="link" href="https://github.com/tannerdolby/eleventy-photo-gallery">Code</a></li>
                </ul>
            </nav>
        </header>
        <main class="about-me-content">
            {{ content | safe }}
        </main>
        <footer style="margin-top: auto">
            <div class="footer-content">
                <div class="footer-info about">
                    <p>&copy; 2020 {{ firstName }} {{ lastName }}. Built with <a href="https://www.11ty.dev/">Eleventy</a></p>
                </div>
            </div>   
        </footer>
    </body>
</html>