---
title: About - Eleventy Photo Gallery Template
url: https://eleventy-gallery.netlify.app
img: /images/highway-water-large.jpg
alt: Terrace outside shop window with green plants and pink tree on night street
---
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        {% metagen 
            title=title,
            desc=site.pageMetadata.about.content,
            url=url + "/about/",
            img=url + img,
            img_alt=alt,
            twitterHandle=site.author.twitterHandle,
            name=site.author.firstName + " " + site.author.lastName
        %}
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon_data/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon_data/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon_data/favicon-16x16.png">
        {% set css %}
            {% include "css/style.css" %}
        {% endset %}
        <style>
            {{ css | cssmin | safe }}
        </style>
    <head>
    <body class="about-page">
        <header class="top-nav">
            <nav class="nav-main">
                <a class="home-button" href="/">{{ site.author.firstName }} {{ site.author.lastName }}</a>
                <ul class="nav-list">
                    <li style="margin-left: 0"><a class="link" href="/">Home</a></li>
                    <li><a class="link" href="/about/">About</a></li>
                    <li><a class="link" href="https://github.com/tannerdolby/eleventy-photo-gallery">Code</a></li>
                </ul>
            </nav>
        </header>
        <main class="about-me-content">
            {{ content | safe }}
        </main>
        <footer class="about-v">
            <div class="footer-content">
                <div class="footer-info about">
                    <p>&copy; {% getYear %} {{ site.author.firstName }} {{ site.author.lastName }}. Built with <a href="https://www.11ty.dev/">Eleventy</a></p>
                </div>
            </div>   
        </footer>
    </body>
</html>