<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon_data/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon_data/">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon_data/favicon-16x16.png">
        <link rel="manifest" href="/favicon_data/site.webmanifest">
        <meta name="description" 
            content="Tanner's stock photo gallery with images provided by Pexels. Built with 
                the static site generator Eleventy. Replace my name with yours above if 
                you've cloned this starter repository. Always make sure to have a meta 
                description tag with content for each page to improve SEO :)">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <title>{{pageTitle}}</title>
    </head>
    <body>
        <header>
            <div class="home-btn">
                <a rel="noopener" href="/">Tanner's Gallery</a>
            </div>
            <div class="socials">
                <a class="link-one" rel="noopener" href="/">Home</a>
                <a class="link-two" rel="noopener" class="github-icon" href="https://github.com/tannerdolby/eleventy-stock-gallery" target="_blank">Github</a>
            </div>
        </header>
        <main>
            <div class="page-banner">
                {{ content | safe}}
            </div>
            <section class="gallery">
                <div class="image-grid">
                    <div class="image-container">
                        <a href="/gallery/image-one" aria-label="Gallery Image One" rel="noopener">
                            <img srcset="{{ gallery.imageOne.largeSrc }},
                                    {{ gallery.imageOne.medSrc }},
                                    {{ gallery.imageOne.smallSrc }}"
                                sizes="(min-width 400px) 33.3vw, 100w"
                                src="{{ gallery.imageOne.smallSrc }}" 
                                alt="{{ gallery.imageOne.alt }}" />
                        </a>
                    </div>
                    <div class="image-container">
                        <a href="/gallery/image-two" aria-label="Gallery Image Two" rel="noopener">
                            <img srcset="{{ gallery.imageTwo.largeSrc }},
                                    {{ gallery.imageTwo.medSrc }},
                                    {{ gallery.imageTwo.smallSrc }}"
                                sizes="(min-width 400px) 33.3vw, 100w"
                                src="{{ gallery.imageTwo.smallSrc }}" 
                                alt="{{ gallery.imageTwo.alt }}" />
                        </a>
                    </div>
                    <div class="image-container">
                        <a href="/gallery/image-three" aria-label="Gallery Image Three" rel="noopener">
                            <img srcset="{{ gallery.imageThree.largeSrc }},
                                    {{ gallery.imageThree.medSrc }},
                                    {{ gallery.imageThree.smallSrc }}"
                                sizes="(min-width: 400px) 33.3vw, 100w"
                                src="{{ gallery.imageThree.smallSrc }}" 
                                alt="{{ gallery.imageThree.alt }}" />
                        </a>
                    </div>
                    <div class="image-container">
                        <a href="/gallery/image-four" aria-label="Gallery Image Four" rel="noopener">
                            <img srcset="{{ gallery.imageFour.largeSrc }},
                                    {{ gallery.imageFour.medSrc }},
                                    {{ gallery.imageFour.smallSrc }}"
                                sizes="(min-width: 400px) 33.3vw, 100w" 
                                src="{{ gallery.imageFour.smallSrc }}" 
                                alt="{{ gallery.imageFour.alt }}" />
                        </a>
                    </div>
                    <div class="image-container">
                        <a href="/gallery/image-five/" aria-label="Gallery Image Five" rel="noopener">
                            <img srcset="{{ gallery.imageFive.largeSrc }},
                                    {{ gallery.imageFive.medSrc }},
                                    {{ gallery.imageFive.smallSrc }}"  
                                sizes="(min-width: 400px) 33.3vw, 100w" 
                                src="{{ gallery.imageFive.smallSrc }}" 
                                alt="{{ gallery.imageFive.alt }}" />
                        </a>
                    </div>
                    <div class="image-container">
                        <a href="/gallery/image-six" aria-label="Gallery Image Six" rel="noopener">
                            <img srcset="{{ gallery.imageSix.largeSrc }},
                                    {{ gallery.imageSix.medSrc }},
                                    {{ gallery.imageSix.smallSrc }}"   
                                sizes="(min-width: 400px) 33.3vw, 100w"
                                src="{{ gallery.imageSix.smallSsrc }}" 
                                alt="{{ gallery.imageSix.alt }}" />
                        </a>
                    </div>
                    <div class="image-container">
                        <a href="/gallery/image-seven" aria-label="Gallery Image Seven" rel="noopener">
                            <img srcset="{{ gallery.imageSeven.largeSrc }},
                                    {{ gallery.imageSeven.medSrc }},
                                    {{ gallery.imageSeven.smallSrc }}" 
                                sizes="(min-width: 400px) 33.3vw, 100w"
                                src="{{ gallery.imageSeven.smallSrc }}"
                                alt="{{ galleryimageSeven.alt }}" />
                        </a>
                    </div>
                    <div class="image-container">
                        <a href="/gallery/image-eight" aria-label="Gallery Image Eight" rel="noopener">
                            <img srcset="{{ gallery.imageEight.largeSrc }},
                                    {{ gallery.imageEight.medSrc }},
                                    {{ gallery.imageEight.smallSrc }}" 
                                sizes="(min-width: 400px) 33.3vw, 100w"
                                src="{{ gallery.imageEight.smallSrc }}" 
                                alt="{{ gallery.imageEight.alt }}" />
                        </a>
                    </div>
                    <div class="image-container">
                        <a href="/gallery/image-nine" aria-label="Gallery Image Nine" rel="noopener">
                            <img srcset="{{ gallery.imageNine.largeSrc }},
                                    {{ gallery.imageNine.medSrc }},
                                    {{ gallery.imageNine.smallSrc }}" 
                                sizes="(min-width: 400px) 33.3vw, 100w"
                                src="{{ gallery.imageNine.smallSrc }}" 
                                alt="{{ gallery.imageNine.alt }}" />
                        </a>
                    </div>
                    <div class="image-container">
                        <a href="/gallery/image-ten" aria-label="Gallery Image Ten" rel="noopener">
                            <img srcset="{{ gallery.imageTen.largeSrc }},
                                    {{ gallery.imageTen.medSrc }},
                                    {{ gallery.imageTen.smallSrc }}" 
                                sizes="(min-width: 400px) 33.3vw, 100w"
                                src="{{ gallery.imageTen.smallSrc }}" 
                                alt="{{ gallery.imageTen.alt }}" />
                        </a>
                    </div>
                    <div class="image-container">
                        <a href="/gallery/image-eleven" aria-label="Gallery Image Eleven" rel="noopener">
                            <img srcset="{{ gallery.imageEleven.largeSrc }},
                                    {{ gallery.imageEleven.medSrc }},
                                    {{ gallery.imageEleven.smallSrc }}" 
                                sizes="(min-width: 400px) 33.3vw, 100w"
                                src="{{ gallery.imageEleven.smallSrc }}" 
                                alt="{{ gallery.imageEleven.alt }}" />
                        </a>
                    </div>
                    <div class="image-container">
                        <a href="/gallery/image-twelve/" aria-label="Gallery Image Twelve" rel="noopener">
                            <img srcset="{{ gallery.imageTwelve.largeSrc }},
                                    {{ gallery.imageTwelve.medSrc }},
                                    {{ gallery.imageTwelve.smallSrc }}"
                                sizes="(min-width 400px) 33.3vw, 100w"
                                src="{{ gallery.imageTwelve.smallSrc }}" 
                                alt="{{ gallery.imageTwelve.alt }}" />
                        </a>
                    </div>
                </div>
            </section>
        </main>
        <footer class="credits">
            <div class="credits-text">
                <hr class="colorful-bar">
                <div class="footer-info">
                    <p>{{footerTxt}} Built with <a rel="noopener" href="https://www.11ty.dev/" target="_blank">11ty</a> and hosted on <a rel="noopener" href="https://www.netlify.com/" target="_blank">Netlify</a>.</p>
                </div>
            </div>
        </footer>
    </body>
</html>