---
credits: Created by Tanner Dolby.
---
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" 
        content="Featured image from Tanner's image gallery on the main page.
        This page contains more about the image itself, a link to where someone 
        can find it, author/creditor, larger image than main grid gallery. Oh ya, 
        replace my name with yours when updating this meta description tag :)">
    <link rel="stylesheet" href="/css/style.css">
    <title>{{title}}</title>
</head>
<body class="feature">
    <header>
        <div class="home-btn">
            <a rel="noopener" href="/">My Gallery</a>
        </div>
        <div class="socials">
            <a rel="noopener" class="github-icon" href="https://github.com/tannerdolby/eleventy-stock-gallery" target="_blank">Github</a>
        </div>
    </header>
    <main class="container">
        <section class="featured-img">
            {{content | safe}}
        </section>
    </main>
    <footer class="credits">
        <div class="credits-text">
            <hr class="colorful-bar">
            <div class="footer-info">
                <p>{{credits}} Built with <a rel="noopener" href="https://www.11ty.dev/" target="_blank">11ty</a> and hosted on <a rel="noopener" href="https://www.netlify.com/" target="_blank">Netlify</a>.</p>
            </div>
        </div>
    </footer>
</body>
</html>