---
pagination:
    data: gallery
    size: 1
    alias: image
permalink: "/{{ image.name | slug }}/"
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ image.img_title }}</title>
    <meta name="theme-color" content="#fff">
    <meta name="background-color" content="#fff">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon_data/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon_data/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon_data/favicon-16x16.png">
    <link rel="manifest" href="/favicon_data/site.webmanifest">
    <meta name="description" 
        content="{{ site.page_metadata.feature.content }}">
    {% set css %}
        {% include "css/style.css" %}
        {% include "css/speedlify-score.css" %}
    {% endset %}
    <style lang="css">
        {{ css | cssmin | safe }}
    </style>
</head>
<body class="feature">
    <nav role="navigation">
        <header>
            <h1>
                <a rel="noopener" href="/">{{ site.home_button_text }}</a>
            </h1>
            <ul class="nav-list">
                <li><a class="link one" href="/">Home</a></li>
                <li><a class="link" href="https://github.com/tannerdolby/eleventy-stock-gallery">Github</a></li>
            </ul>
        </header>
    </nav>
    <main class="main-container" role="main">
        <section class="featured-img">
            <div class="image-container">
                <picture>
                    <source
                        type="image/webp"
                        srcset="
                            {{ image.ng_large.src }} {{ image.ng_large.width }}w, 
                            {{ image.ng_med.src }} {{ image.ng_med.width }}w, 
                            {{ image.ng_small.src }} {{ image.ng_small.width }}w
                            "
                        sizes="33.3vw, 50vw, 100vw"
                    >
                    <img
                        srcset="
                            {{ image.large.src }} {{ image.large.width }}w, 
                            {{ image.med.src }} {{ image.med.width }}w, 
                            {{ image.small.src }} {{ image.small.width }}w
                            "
                        sizes="33.3vw, 50vw, 100vw"
                        src="{{ image.small.src }}"
                        alt="{{ image.alt }}"
                        loading="lazy"
                    >
                </picture>
                <div class="center">
                    <h1>{{ image.img_title }}</h1>
                    <p>{{ image.img_credit }} from <a rel="noopener" target="_blank" href="{{ image.img_public_url }}">Pexels</a></p>
                </div>
            </div>
        </section>
    </main>
    {% include "layouts/footer.njk" %}
    {% set js %}
        {% include "js/speedlify-score.js" %}
    {% endset %}
    <script>
        {{ js | jsmin | safe }}
    </script>
</body>
</html>