---
pagination:
    data: gallery
    size: 1
    alias: image
permalink: "{{ image.name | slug }}/"
homeBtn: Tanner's Gallery
credits: Created by your name
---
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#fff">
    <meta name="background-color" content="#fff">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon_data/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon_data/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon_data/favicon-16x16.png">
    <link rel="manifest" href="/favicon_data/site.webmanifest">
    <meta name="description" 
        content="Featured image from (Your name here)'s image gallery on the home page.
        This seperate page contains more about the image itself, a link to where someone 
        can find it, author/creditor. Oh ya, I almost forgot! Make sure to replace my name 
        with yours when updating this meta description tag.">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/speedlify-score.css">
    <title>{{ image.img_title }}</title>
</head>
<body class="feature">
    <header>
        <div class="home-btn">
            <a rel="noopener" href="/">{{ homeBtn }}</a>
        </div>
        <div class="socials">
            <a class="link-one" rel="noopener" href="/">Home</a>
            <a class="link-two" rel="noopener" class="github-icon" href="https://github.com/tannerdolby/eleventy-stock-gallery" target="_blank">Github</a>
        </div>
    </header>
    <main class="container">
        <section class="featured-img">
            <div class="image-container">
                <picture>
                    <source
                        type="image/webp"
                        srcset="
                            {{ image.ng_large.src }} {{ image.ng_large.width }}w, 
                            {{ image.ng_med.src }} {{ image.ng_med.width }}w, 
                            {{ image.ng_small.src }} {{ image.ng_small.width }}w
                            "
                        sizes="33.3vw, 50vw, 100vw"
                    >
                    <img
                        srcset="
                            {{ image.large.src }} {{ image.large.width }}w, 
                            {{ image.med.src }} {{ image.med.width }}w, 
                            {{ image.small.src }} {{ image.small.width }}w
                            "
                        sizes="33.3vw, 50vw, 100vw"
                        src="{{ image.small.src }}"
                        alt="{{ image.alt }}"
                        loading="lazy"
                    >
                </picture>
                <div class="center">
                    <h1>{{ image.img_title }}</h1>
                    <p>{{ image.img_credit }} from <a rel="noopener" target="_blank" href="{{ image.img_public_url }}">Pexels</a></p>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer-content">
            <hr class="colorful-bar">
            <div class="footer-info featured">
                <p>{{ site.footer.created_by }}. Built with <a rel="noopener" href="https://www.11ty.dev/" target="_blank">11ty</a> and hosted on <a rel="noopener" href="https://www.netlify.com/" target="_blank">Netlify</a>.</p>
                <a href="https://tdspeedlify.netlify.app/11ty-photo-gallery/" class="speedlify-link">
                    <speedlify-score hash="{{ image.hash }}" speedlify-url="https://tdspeedlify.netlify.app" score weight requests></speedlify-score>
                </a>
            </div>
        </div>
    </footer>
    <script src="/js/speedlify-score.js" type="text/javascript"></script>
</body>
</html>