<footer>
    <div class="footer-content">
        <hr class="colorful-bar">
        <div class="footer-info home">
            <p>{{ site.footer.created_by }}. Built with <a rel="noopener" href="https://www.11ty.dev/" target="_blank">11ty</a> and hosted on <a rel="noopener" href="https://www.netlify.com/" target="_blank">Netlify</a>.</p>
            <a href="https://tdspeedlify.netlify.app/11ty-photo-gallery/" class="speedlify-link">
                <speedlify-score hash="bc2c2d1a" speedlify-url="https://tdspeedlify.netlify.app" score weight requests></speedlify-score>
            </a>
        </div>
    </div>
</footer>