<div class="gallery">
  <ul class="image-grid">
    {% for image in gallery %}
    <li class="image-container">
        <a
          href="/gallery/{{ image.title | slug }}"
          aria-label="Gallery image {{ image.title }}"
        >
          {% img
            src=image.src,
            alt=image.alt,
            className="grid-image",
            sizes="(min-width: 600px) 50vw, (min-width: 800px) 100vw, 33.3vw"
          %}
        </a>
    </li>
    {% endfor %}
  </ul>
</div>